html,body {
    padding:0;
    margin:0;
    border:0;
}

input, label {
    display:block;
}

#bookMaker {
    height:100vh;
    width:20vw;
    background-color: blanchedalmond;
    display:flex;
    flex-direction: column;
}

.formField {
    float:left;
    margin-right: 20px;
}

#bookshelf {
    padding:10px;
    width:80vw;
    height:100vh;
    border:1px solid black;
    display:grid;
    grid-template-columns: repeat(8, 200px);
    grid-template-rows: repeat(3, 300px);
    column-gap:50px;
    row-gap: 20px;
    background-color: burlywood;
}

.book {
    white-space: pre-line;
    text-align: center;
    font-size:2rem;
    height:300px;
    width:200px;
    border: 2px solid black;
    box-shadow: 3px 3px 10px black;
    background-color: maroon;
}

.book > button {
    height:50px;
    width:100px;
}